name: Deploy Angular on VPS (Direct Build)

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/ubuntu/portfolio

            git pull origin main

            docker build -t portfolio .

            docker stop angular-site || true
            docker rm angular-site || true

            docker run -d \
              --name angular-site \
              --restart always \
              -p 80:80 -p 443:443 \
              -v /etc/letsencrypt:/etc/letsencrypt \
              portfolio
